
/* --------------------------------------
	* Theme Special 
	* ---------------------------------------*/
@media (max-width: 1700px){
	.elementor-12263 .elementor-element.elementor-element-23b9ecba {
		width: 74.017%;
	}
	.elementor-12263 .elementor-element.elementor-element-28c0f7b7 {
		width: 25.856%;
	}
}

@media (max-width: 1400px){
	.elementor-12263 .elementor-element.elementor-element-23b9ecba {
		width: 68.017%;
	}
	.elementor-12263 .elementor-element.elementor-element-28c0f7b7 {
		width: 31.856%;
	}

	.dsvy-header-style-4 .dsvy-slider-bottom-section{
		margin-left: 100px;
		margin-right: 100px;		
	}
	.dsvy-header-style-4:after {
		width: 30%;
	}

}
/* --------------------------------------
	* End Theme Special 
	* ---------------------------------------*/

@media (max-width: 1200px){
	#page.site {
	    overflow: hidden;
	}

	.container {
		max-width: none;
	}

	/*=== dsvy-testimonial-style-1 ===*/
	.dsvy-stretched-div-ipd-left.elementor-column.elementor-top-column.dsvy-elementor-bg-color-blackish.dsvy-bg-image-over-color .elementor-widget-wrap > .dsvy-stretched-div{
		margin: 0px 0px 0px -185px !important;
	}

	.dsvy-stretched-div-bg-hide.elementor-column.elementor-top-column.dsvy-elementor-bg-color-globalcolor:not(.dsvy-bgimage-yes) .elementor-widget-wrap > .dsvy-stretched-div{
		background-color: transparent !important;
	}

	/* --------------------------------------
	 * Theme Special
	 * ---------------------------------------*/
	.dsvy-header-style-4 .dsvy-slider-bottom-section {
		margin-left: 0;
		margin-right: 0;
		padding-bottom: 30px;
		border-bottom: 1px solid #eee;
	}
	.dsvy-header-style-4 .dsvy-slider-bottom-section > .row{
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}

	/*=== dsvy-title-bar ===*/
	.dsvy-title-bar-content .dsvy-tbar-title{
		font-size: 36px;
		line-height: 42px;
	}

	.dsvy-header-style-2 .dsvy-title-bar-content{
		padding-top: 180px;
	}

	.dsvy-header-style-2 .dsvy-title-bar-content, 
	.dsvy-header-style-2 .dsvy-title-bar-wrapper{
		min-height: 400px;
	}

}
@media only screen and (min-width: 991px) and (max-width: 1200px){ 

}

@media only screen and (min-width: 768px) and (max-width: 1023px){ 

	/* --------------------------------------
	 * Theme Special
	* ---------------------------------------*/

	/*=== dsvy-service-style-2 ===*/
	.dsvy-service-style-2{
		position: relative;
	}
	.dsvy-service-style-2 .dsvy-service-icon-wrapper i{
		position: absolute;
		top: 20px;
		left: 45px;
	}
	.dsvy-service-style-2 .designervily-post-item{
		padding-top: 85px;
	}
	/*=== dsvy-pricing-table-box ===*/
	.dsvy-pricing-table-box .dsvy-head-wrap{
		margin: 15px;
	}
	.dsvy-pricing-table-box .dsvy-ptable-lines-w {
		padding: 15px 15px;
	}
	.dsvy-pricing-table-box .dsvy-ptable-btn {
		padding: 0 15px;
	}
	/*=== dsvy-service-style-3 ===*/
	.dsvy-service-style-3 .designervily-box-content{
		padding: 20px 20px 5px;
		margin: -50px 20px 0;
	}
	.dsvy-service-style-3 .dsvy-service-title {
		font-size: 20px;
		line-height: 24px;
		margin: 0px 0 12px;
	}

}

@media only screen and (min-width: 768px) and (max-width: 991px){ 

	/* --------------------------------------
	 * Theme Special
	 * ---------------------------------------*/

	/*=== dsvy-ihbox-style-7 ===*/
	.dsvy-ihbox-style-7 .dsvy-ihbox-box{
		display: block !important;
	}
	.dsvy-ihbox-style-7 .dsvy-ihbox-icon-wrapper{
		margin-bottom: 20px;
	}

	/*=== dsvy-footer-big-area ===*/
	.dsvy-footer-big-area .dsvy-footer-contact-info .dsvy-footer-contact-info-inner{
		display: block !important;
	}
	.dsvy-footer-big-area .dsvy-footer-contact-info .dsvy-footer-contact-info-inner .dsvy-lyfpro-icon{
		margin-bottom: 30px;
	}

}

@media (max-width: 1024px){

	body.dsvy-sidebar-no.elementor-page #content {
		padding-right: 0;
		padding-left: 0;
	}

	.dsvy-col-stretched-left .dsvy-stretched-div,
	.dsvy-col-stretched-right .dsvy-stretched-div{
		margin: 0 !important;
	}

	/*=== dsvy-team-single ===*/
	.single .dsvy-portfolio-related,
	.dsvy-portfolio-single,
	.dsvy-team-single{
		margin: 0 15px;
	}

	/*=== bg-img-hide ===*/
	.dsvy-bg-img-hide.dsvy-col-stretched-yes .dsvy-stretched-div{
		background-image: none !important;
	}

	/* --------------------------------------
	 * Theme Special - Elementor
	 * ---------------------------------------*/
	.dsvy-col-stretched-right.dsvy-right-bg-50 .dsvy-stretched-div{
		display: none;
	}
	.dsvy-vertical-text .elementor-heading-title{
		transform: none;
		white-space:  unset;
		display: inline-block;
		left: 0;
		position: static;
		transform-origin: unset;
		bottom: 0;
	}
	.dsvy-ihbox-style-2-main .elementor-column-gap-default{
		margin: 0;
	}
	/*=== dsvy-element-blog-style-1 ===*/
	.dsvy-element-blog-style-1 .post-item.row{
		display: block;
	}    
	.dsvy-element-blog-style-1 .post-item.row  .col-sm-6{
		-ms-flex: 0 0 100%;
		flex: 0 0 100%;
		max-width: 100%;
	}

	/*=== dsvy-responsive-imge-1 ===*/
	.dsvy-responsive-imge-1 img{
		width: 100%;
	}
	.dsvy-responsive-imge-1.elementor-element.elementor-widget-image{
		margin-bottom: 5px !important;
	}

	/*=== dsvy-empty-div-height-1024 ===*/
	.dsvy-empty-div-height-1024 > div{
		padding-top: 200px;
		padding-bottom: 200px;
	}

	/*=== dsvy-ihbox-style-2-main ===*/
	.dsvy-ihbox-style-2-main .elementor-column-gap-default{
		padding: 0;
	}
	.dsvy-vertical-icon.elementor-view-stacked{
		right: 50%;
	}

	/*=== dsvy-element-testimonial-style-2 ===*/
	.dsvy-element-testimonial-style-2.designervily-element-viewtype-carousel .owl-carousel .owl-dots {
		bottom: -60px;
		left: 50%;
		-webkit-transform: translateX(-50%);
		-ms-transform: translateX(-50%);
		transform: translateX(-50%);
	}

	/*=== dsvy-testimonial-style-3 ===*/
	.dsvy-testimonial-style-3 .designervily-box-desc:after{
		bottom: 75px;
	}

}

@media (max-width: 991px){

	/*=== Footer custom width ===*/
	.site-content > .row{
		display: block;
	}
	#secondary.widget-area,
	#primary.content-area{
		display: block;
		-ms-flex: 0 0 100%;
		flex: 0 0 100%;
		max-width: 100%;
	}
	.content-area.col-md-9 {	  
	    padding-bottom: 0px;
	}

	/*=== dsvy-overflow-visible-991 ===*/
	.dsvy-sortable-list-ul {
	    text-align: left;
	    margin-bottom: 30px;
	}

	/* --------------------------------------
	* Theme Special
	* ---------------------------------------*/

	/*=== dsvy-testimonial-style-1 ===*/
	.dsvy-testimonial-style-1 .designervily-box-content{
		padding: 20px;
	}
	.dsvy-testimonial-style-1 .designervily-box-img{
		margin-left: 0px;
	}
	/*=== dsvy-testimonial-style-3 ===*/
	.dsvy-testimonial-style-3 .designervily-box-desc:after {
		bottom: 145px;
	}
	.dsvy-heading-subheading .dsvy-element-title {
		font-size: 32px;
		line-height: 36px;
	}

	/*=== dsvy-blc-style-1 ===*/
	.dsvy-blc-style-1 blockquote {
		font-size: 18px;
		line-height: 24px;
	}

	/*=== dsvy-team-single ===*/
	.dsvy-team-single .dsvy-team-single-inner > .row{
		display: block;
	}

	.dsvy-team-single .dsvy-team-single-inner .dsvy-team-left-inner{
		margin-right: 0px;
	}
	.dsvy-team-single .dsvy-team-single-inner .dsvy-team-left-inner img{
		width: 100%;
	}

	.dsvy-team-single .dsvy-team-single-inner > .row .col-md-5,
	.dsvy-team-single .dsvy-team-single-inner > .row .col-md-7{
		-ms-flex: 0 0 100%;
		flex: 0 0 100%;
		max-width: 100%;
	}

	.dsvy-team-single .dsvy-team-single-inner > .row .col-md-7{
		margin-top: 50px;
	}

	/*=== dsvy-blog-style-3 ===*/
	.dsvy-blog-style-3 .post-item.row{
		display: block;
	}
	.dsvy-blog-style-3 .dsvy-featured-container,
	.dsvy-blog-style-3 .designervily-box-content-main{
		-ms-flex: 0 0 100%;
		flex: 0 0 100%;
		max-width: 100%;
	}
	.dsvy-blog-style-3 .dsvy-post-title {
		font-size: 22px;
		line-height: 32px;
	}

	/*=== dsvy-vertical-icon ===*/
	.dsvy-vertical-icon.elementor-view-stacked{
		display: none;
	}

	/*=== dsvy-team-single-style-1 ===*/
	.dsvy-team-single-style-1 .dsvy-team-single-info:after{
		background-color: transparent;
	}
	.dsvy-team-single-style-1 .dsvy-team-des{
		padding-left: 0;
		padding-right: 0;
		padding-top: 40px;
	}

	/*=== dsvy-header-style-4 ===*/
	.dsvy-header-style-4 .dsvy-slider-bottom-section .col-sm-7{
		-ms-flex: 0 0 100%;
		flex: 0 0 100%;
		max-width: 100%;
	}

	.site-footer .dsvy-footer-widget:after{
		content: none;
	}

	.footer-social-links{
		border: none;
		padding-top: 0px;
	}
	.site-footer .widget {
		margin: 80px 0 0px;
	}

	.dsvy-header-style-2 .dsvy-title-bar-content, 
	.dsvy-header-style-2 .dsvy-title-bar-wrapper{
		min-height: 350px;
	}

}

@media (max-width: 767px){
	/*=== dsvy-heading-subheading ===*/
	.dsvy-heading-subheading .dsvy-element-title{
		font-size: 26px;
		line-height: 36px;
	}
	/*=== dsvy-ourhistory-left ===*/
	.dsvy-ourhistory-left .label{
		display: none;
	}
	.dsvy-ourhistory .dsvy-ourhistory-right .label{
		display: block;
	}
	.dsvy-ourhistory .dsvy-ourhistory-right {
		padding-left: 50px;
	}
	/*=== .dsvy-ihbox-style-3 ===*/
	.dsvy-ihbox-style-3 {
		border-right: 1px solid #e2e3e4;
	}
	/*===* dsvy-blog-meta-bottom ===*/
	.dsvy-blog-meta-bottom .dsvy-blog-meta-bottom-right{
		margin-top: 15px;
	}
	/*=== dsvy-ptable-col ===*/
	.dsvy-ptable-col{
		margin-bottom: 50px;
	}
	/*=== Post navigation break ===*/
	.post-navigation .nav-links{
		display: block;
	}
	.post-navigation .nav-links .nav-next {	  
		margin-top: 15px;
	}
	.dsvy-portfolio-single .nav-links .nav-next .dsvy-portfolio-nav-wrapper{
		margin-left:  unset; 
	}
	.dsvy-portfolio-single .nav-links .nav-next .dsvy-portfolio-nav-wrapper {
		text-align: left;
	}
	.post-navigation .nav-links .nav-next {
		margin-top: 0;
	}

	/* --------------------------------------
	 * Theme Special
	 * ---------------------------------------*/
	/*=== dsvy-testimonial-style-1 ===*/
	.dsvy-ele-testimonial.dsvy-testimonial-style-1{
		margin-right: 15px;
	}
	/*=== dsvy-testimonial-style-2 ===*/
	.dsvy-element-testimonial-style-2.designervily-element-viewtype-carousel .owl-carousel .owl-nav{
		display: none;
	}
	/*=== dsvy-empty-div-height-1024 ===*/
	.designervily-gap-15px .dsvy-element-posts-wrapper.row .dsvy-ele.dsvy-client-style-1{
		margin-bottom: 30px;
	}

	.designervily-element-client.designervily-element-viewtype-row-column[data-columns="4"] .dsvy-ele-client{
		width: 50%;
	}
	/*=== dsvy-empty-div-height-1024 ===*/
	.dsvy-empty-div-height-767 > div{
		padding-top: 200px;
		padding-bottom: 200px;
	}

	/*=== dsvy-single-project-details-list ===*/
	.dsvy-single-project-details-list{
		position: static;
		margin-bottom: 35px;
	}

	/*=== dsvy-vertical-sep ===*/
	.dsvy-vertical-sep.elementor-inner-column{
		border: 0;
	}
	.dsvy-vertical-sep.elementor-inner-column:after, 
	.dsvy-vertical-sep.elementor-inner-column:before{
		display: none;
	}

	/*=== dsvy-service-style-2 ===*/
	.dsvy-service-style-2 .designervily-box-content .designervily-box-content-inner{
		border: 0;
	}
	.dsvy-service-style-2 .designervily-box-content .designervily-box-content-inner:before, 
	.dsvy-service-style-2 .designervily-box-content .designervily-box-content-inner:after{
		display: none;
	}
	.elementor-widget-tabs .elementor-tab-mobile-title{
		margin-bottom: 0;
	}

	/*=== dsvy-ihbox-style-3 ===*/
	.dsvy-ihbox-style-3 .dsvy-ihbox-box-number:after{
		display: none;
	}

	/*=== dsvy-element-testimonial-style-2 ===*/
	.dsvy-element-testimonial-style-2.designervily-element-viewtype-carousel .owl-carousel .owl-dots {	
		right: 15px;
		bottom: -35px;	
	}

	/*=== dsvy-timeline ===*/
	.dsvy-timeline{
		margin: 0 15px;
	}
	.dsvy-footer-text-area .col-md-6 .dsvy-footer-logo{
		text-align: center;
	}

	/*=== dsvy-team-single-style-1 ===*/
	.dsvy-team-single-style-1 .dsvy-team-single-info{
		padding: 30px;
	}

	/*=== dsvy-footer-big-area ===*/
	.dsvy-footer-big-area .dsvy-footer-boxes{
		margin-bottom: 30px;
	}
	.dsvy-footer-big-area .dsvy-footer-boxes:last-child{
		margin-bottom: 0;
	}
	.footer-wrap.dsvy-footer-big-area{
		padding-top: 60px;
		padding-bottom: 60px;
	}
	.site-footer .widget {
		margin: 50px 0 30px;
	}
	.dsvy-footer-text-area .dsvy-footer-menu-area,
	.dsvy-footer-text-area .dsvy-footer-text-inner{
		text-align: center;
	}

	/*=== dsvy-title-bar ===*/
	.dsvy-title-bar-content .dsvy-tbar-title {
		font-size: 30px;
		line-height: 36px;
	}

	/*=== dsvy-team-form ===*/
	.dsvy-team-form .input-button button{
		width: 100%;
	}

	.dsvy-form-style-1 .input-button button{
		width: 100%;
	}

}

@media (max-width: 575px) {
	.dsvy-blog-meta .dsvy-meta-classic-right {
	    padding-left: 0;
	    text-align: left;
	    display: inline-block;
	}
	.dsvy-blog-meta.dsvy-blog-meta-top .dsvy-meta-classic-left {
	    position: static;
	    width: auto;
	    display: inline-block;
	}
	.dsvy-blog-meta.dsvy-blog-meta-top .dsvy-meta-classic-left .dsvy-meta-date {	
	    padding: 6px 22px;
	    margin-right: 10px;
	}
	.dsvy-blog-meta.dsvy-blog-meta-top{
		text-align: left;
	}
	.dsvy-blog-meta.dsvy-blog-meta-top .dsvy-meta-classic-left .dsvy-meta-date span span{
		display: inline-block;
	}
	.dsvy-blog-meta.dsvy-blog-meta-top .dsvy-meta-classic-left .dsvy-meta-date .entry-date{
		font-size: 16px;
		line-height: 26px;
	}
	.dsvy-no-img .dsvy-blog-meta.dsvy-blog-meta-top, 
	.dsvy-default-view .dsvy-blog-meta.dsvy-blog-meta-top{
		display: block;
	}
	.dsvy-no-img .dsvy-blog-meta .dsvy-meta-classic-right, 
	.dsvy-default-view .dsvy-blog-meta .dsvy-meta-classic-right{
		padding-left: 0;
		display: block;
		margin-bottom: 15px;
	}
	.comment-respond .comment-reply-title{
		font-size: 20px;
		line-height: 30px;
	}
	.comment-respond .comment-reply-title small{
		font-size: 13px;
		line-height: 13px;
	}
	.comment-list .comment-respond{
		padding-left: 0;
	}
	.comment-list .children {
	    margin-left: 10px;
	}
	.dsvy-comment-content{
		margin-left: 0px;
		margin-top: 25px;
	}
	.dsvy-comment-avatar{
		float: none;
	}
	.dsvy-comment-content:before, .dsvy-comment-content:after {	
	    border-width: 0px 10px 10px 10px;
	    border-color: transparent transparent #fff transparent;	
	}
	.dsvy-comment-content:after {	    
	    border-width: 0px 12px 12px 12px;
	    border-color: transparent transparent #e9e9e9 transparent;
	}
	.dsvy-comment-content:before{
	    top: -10px;
	    left: 17px;
	}
	.dsvy-comment-content:after{
	    top: -13px;
	    left: 15px;
	}
	.dsvy-comment-form-input-wrapper{
		display: block;
	}
	.dsvy-comment-form-input-wrapper .dsvy-comment-form-input{
		flex: none;
		width: 100%;
		margin-left: 0px;
	}
	.dsvy-author-box{
		display: block;
	}
	.dsvy-author-content{
		margin-top: 20px;
	}

	/* --------------------------------------
	* Theme Special
	* ---------------------------------------*/

}

/*********************** Min start **********************************/
@media screen and (min-width: 768px) {
	.dsvy-empty-sidebar #primary {
	    flex: 0 0 100%;
	    max-width: 100%;
	}

	.col-md-20percent {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 20%;
        flex: 0 0 20%;
        max-width: 20%;
	}

	/*===.dsvy-blog-meta-bottom===*/
	.dsvy-blog-meta-bottom {
	    padding: 20px 0;
	    padding-bottom: 0;
	    display: -ms-flexbox !important;
	    display: flex !important;
	    align-items: center;
	}
	.dsvy-blog-meta-bottom .dsvy-blog-meta-bottom-left {
	    margin-right: auto!important;
	    width: 50%;
	    padding-right: 10px;
	}
	.dsvy-blog-meta-bottom.dsvy-blog-meta-no-social .dsvy-blog-meta-bottom-left{
		width: 	100%;
	}

}
@media screen and (min-width: 992px) {
	.dsvy-sidebar-left #secondary,
	.dsvy-sidebar-right #secondary{
	    flex: 0 0 34%;
	    max-width: 34%;
	}
	.dsvy-sidebar-left #primary,
	.dsvy-sidebar-right #primary{
	    flex: 0 0 66%;
	    max-width: 66%;
	}

}

@media screen and (min-width: 1025px) {

	/*=== dsvy-service-style-3 ===*/
	.dsvy-service-style-3 .designervily-post-item{
		border-left: 0;
	}
}

@media (min-width: 1200px){
	.elementor-section.elementor-section-boxed>.elementor-container,
	.container {
	    max-width: 1200px;
	}


	/* --------------------------------------
	* Theme Special
	* ---------------------------------------*/
	.dsvy-header-style-4 .dsvy-slider-area {
		margin-left: 100px;
		margin-right: 100px;
	}
	.dsvy-header-style-4{
		position: relative;
		padding-bottom: 0px;
	}
	.home .dsvy-header-style-4{
		padding-bottom: 30px;
	}



	.dsvy-header-style-4 .dsvy-social-links{
		position: absolute;
		list-style: none;
		top: 40%;
	}
	.dsvy-header-style-4 .dsvy-social-links{
		position: absolute;
	}
	.dsvy-header-style-4 .dsvy-social-links li{
		margin: 20px 0px;
	}

	/*=== dsvy-footer-section ===*/
	.dsvy-footer-section.dsvy-footer-widget-area .dsvy-footer-widget {
		padding-right: 45px;
		padding-left: 45px;
	}
	.dsvy-footer-section.dsvy-footer-widget-area .dsvy-footer-widget:first-child {		
		padding-left: 15px;
	}
	.dsvy-footer-section.dsvy-footer-widget-area .dsvy-footer-widget:last-child {		
		padding-right: 15px;
	}

}

@media (max-width: 1350px){
	.dsvy-header-style-2 .dsvy-social-links{
		display: none;
	}
}
@media (max-width: 1399px){
	.dsvy-header-style-2 .dsvy-header-button .dsvy-header-button-text-2,
	.dsvy-header-style-2 .dsvy-header-button .dsvy-header-button-text-1 {
		font-size: 16px;
	}
}

@media (min-width: 1400px){
	.dsvy-header-style-2  .dsvy-navbar div > ul > li > a {
	    margin: 0 17px;
	}
	.dsvy-header-style-2 .site-branding.dsvy-logo-area {
		margin-right: 50px;
	}
	.dsvy-header-style-2 .dsvy-header-content {
		margin: 0 30px;		
	}
	.dsvy-header-style-2 .site-branding.dsvy-logo-area {
		margin-right: 55px;
	}
	.dsvy-header-style-2 .dsvy-social-links {
		margin-right: 30px;
	}
	.dsvy-header-style-2 .dsvy-header-button {
		margin-left: 10px;
		padding-left: 30px;
	}

}

@media (min-width: 1600px){
	.dsvy-header-style-2 .site-branding.dsvy-logo-area {
		margin-right: 80px;
	}
	.dsvy-header-style-2 .dsvy-header-content {
		margin: 0 50px;		
	}
	.dsvy-header-style-2 .site-branding.dsvy-logo-area {
		margin-right: 80px;
	}
	.dsvy-header-style-2 .dsvy-social-links {
		margin-right: 60px;
	}

	.dsvy-header-style-2 .dsvy-header-button {
		margin-left: 30px;
		padding-left: 50px;
	}
}